aside
  width: 176px
  padding: 24px 24px 0 24px
  border-right: 1px solid #4a4a4a
  height: calc(100vh - 24px)
  position: absolute
  left: 0
  top: 0
  overflow: hidden
.header
  width: inherit
  &__menu
    padding-top: 24px
  &__point
    min-height: 22px
    a
      color: #2468a1
      text-decoration: none
