@font-face 
  font-family: 'Nunito'
  font-weight: 400
  src: url('../fonts/nunito/Nunito-Regular.ttf')

@font-face 
  font-family: 'Nunito'
  font-weight: bold
  src: url('../fonts/nunito/Nunito-Bold.ttf')

body
  font-family: Nunito
