main
  width: calc(100vw - 248px)
  margin-left: 248px
  padding-top: 30px

.info
  &__title
    margin-bottom: 18px
    font-weight: bold
    font-size: 2em
  &__description
    margin: 16px 0
    max-width: 500px
    span
      padding: 3px 6px 2px 6px
      border-radius: 6px
      font-size: small
      font-weight: bold
      &.green
        background: #3caea3
        color: #fff

.game
  &__container
    display: inline-block
  &__window
    display: block

.panel
  &__container
    max-width: 440px
    display: inline-block
    vertical-align: top
  &__row
    padding-top: 18px
    &:last-of-type
      border-bottom: 0
  &__btn
    margin-right: 12px
    padding: 1px 12px
    height: 30px
    border-radius: 3px
    font-size: small
    border: 0
    outline: none
    &_red
      background: #dc2f30
      color: #fff
    &_blue
      background: #3183c7
      color: #fff
    &_green
      background: #38c171
      color: #fff
    &:hover
      cursor: pointer
    &:last-of-type
      margin-right: 0
  &__comments
    display: none
    &_active
      display: block

.wide-screen
  display: inline-block

.small-screen
  display: block
@media (min-width: 1280px)
  .panel__row:first-of-type
      padding-top: 0

